* {
  color: rgb(199, 168, 33);
  text-decoration: none;
}

h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  text-shadow: -2px 0 rgb(185, 88, 3), 0 2px rgb(185, 88, 3),
    2px 0 rgb(185, 88, 3), 0 -2px rgb(185, 88, 3);
}

.container {
  margin-top: 50px;
}

th,
td {
  width: 150px;
  text-align: center;
  font-size: 1.3em;
}

a {
  border: 3px solid;
  padding: 10px;
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(207, 181, 59);
  background-color: rgb(8, 131, 35);
  border: none;
  width: auto;
  position: relative;
  transition: 0.5s;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgb(207, 181, 59);
  width: 170px;
}

a:active {
  background-color: rgba(98, 243, 129, 0.8);
  color: rgb(207, 181, 59);
}

a:after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 5px;
  left: -5px;
  transition: 0.5s;
}

a:hover {
  padding-left: 24px;
  padding-right: 8px;
}

a:hover:after {
  opacity: 1;
  left: 1px;
}
