* {
  color: rgb(207, 181, 59);
  text-decoration: none;
}

h2{
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin-top: 50px;
}

.reaction-container {
  margin-top: 100px;
}

.result-container{
   margin-top: 100px;
}

a {
  border: 3px solid;
  padding: 10px;
}

a:hover {
  color: white;
}

table {
  list-style: decimal;
  list-style-position: inside;
  font-size: 1.3em;
  padding-right: 350px;
  text-align: center;
}

