.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 160px;
}

.gameTimer,
.gamePoints {
  font-size: 2em;
  font-weight: bold;
}

.btn {
  height: 40px;
  width: 140px;
  border-radius: 30px;
  border: solid black 3px;
  font-size: 0.7em;
  font-weight: bold;
  background-color: white;
}

.moleup {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: appear 0.9s;
  transition: all 0.4s;
  background-image: url("src/assets/mole-visible.png");
  top: 100%;
  animation-name: moveUpDown;
  animation-duration: 7s;
  animation-timing-function: linear;
}

@keyframes moveUpDown {
  0%,
  100% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
}