*{
  color: rgb(207, 181, 59);
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  gap: 80px;
  color: rgba(255, 255, 255, 0.649);
  font-weight: bold;
  text-transform: uppercase;  
  margin: 50px 300px 20px 20px;

}

.gameTimer,
.gamePoints {
  font-size: 2em;
}

.btn {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(207, 181, 59);
  background-color: rgb(8, 131, 35);
  border: none; 
  width: auto;
  border-radius: 0;
  box-shadow: 0 10px 20px -8px rgb(207, 181, 59);
}  

.btn:active{
  background-color: rgba(98, 243, 129, 0.8);
  color: rgb(207, 181, 59);
}

button[disabled] {
  background-color: rgba(160, 246, 179, 0.8);
}

