.board-container{
margin-left: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.board {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

.hole {
  width: 100px;
  height: 100px;
  background-color: rgba(74, 34, 2, 0.809);
  overflow: hidden;
  background-image: url("src/assets/mole-invisible.png");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.moleup {
  background-image: url("src/assets/mole-visible.png");
}
