 .container {
  display: flex;
  margin-left: 200px;
} 

.board {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(5,120px);
  grid-template-rows: repeat(5,120px);
}

.hole {
  width: 130px;
  height: 130px;
  background-color: rgba(74, 34, 2, 0.809);
  overflow: hidden;
  background-image: url("src/assets/mole-invisible.png");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.moleup {
  background-image: url("src/assets/mole-visible.png");
}