<app-game-details [points]="points.points"></app-game-details>
<div class="container">
  <div class="board">
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
    <div class="cell">
      <div class="mole" (click)="onMoleClick($event)"></div>
    </div>
  </div>
  <app-navigation class="navigation-container"></app-navigation>
</div>
