<div class="gameContainer">
  <div>
    <div>Time remaining:</div>
    <div class="gameTimer">{{ this.timer }}</div>
  </div>
  <div>
    <div>Points:</div>
    <div class="gamePoints"> {{this.scoreCounter}}</div>
  </div>
  <button class="btn" (click)="startGame()" [disabled]="btnDisabled" >START GAME</button>
</div>

<div class="board">
  <div class="cell">
    <div class="mole moleup" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
  <div class="cell">
    <div class="mole" (click)="onMoleClick()"></div>
  </div>
</div>



