.container{
  display: flex;
}

.navigation-container{
  margin-top: 10%;
}


.board {
  min-width: 690px;
  max-width: 690px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}

.cell {
  width: 130px;
  height: 130px;
  background-color: rgba(74, 34, 2, 0.809);
  overflow: hidden;
  background-image: url("src/assets/mole-invisible.png");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.moleup {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: appear 0.9s;
  transition: all 0.4s;
  background-image: url("src/assets/mole-visible.png");
  top: 100%;
  animation-name: moveUpDown;
  animation-duration: 7s;
  animation-timing-function: linear;
}

@keyframes moveUpDown {
  0%,
  100% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
}


