<div class="register-container">
  <form (ngSubmit)="onSubmit()" #addUserName="ngForm">
    <div class="container">
      <div>
        <label for="name">Username:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control mt-2"
          [(ngModel)]="username"
          #name="ngModel"
          required
        />
      </div>
      <div class="btn-container">
      <button
        class="btn btn-success mt-3"
        type="submit"
        [disabled]="!addUserName.form.valid"
      >
      Register
      </button>
    </div>
    </div>
  </form>
</div>

